* {
  margin: 0;
  padding: 0;
  user-select: none;
}

a {
  text-decoration: none;
  font-family: "Bookshelf Symbol 7";
}

a:hover {
  color: orange;
}

a.Button, a.Button:link, a.Button:visited {
  padding: .3ex;
  color: #368;
  background-color: #005e21;
  text-decoration: none;
  font-family: helvetica, tahoma, arial, verdana, sans-serif;
  font-size: 1.5ex;
}

h1 {
  font-size: 80px;
  margin: 1ex 0ex 1ex 0ex;
  padding: 0ex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 3ex;
  font-weight: 900;
  color: #666;
}

h2 {
  font-size: 60px;
  margin: 2ex 0ex 1ex 0ex;
  padding: 0ex;
  line-height: 2ex;
  font-weight: 700;
  color: #444;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 
h3 {
  font-size: 40px;
  margin: 1ex 0ex 1ex 0ex;
  padding: 0ex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.6ex;
  font-weight: 700;
  color: #222;
}

p {
  padding: 2ex;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
ul {
  padding: 50px 50px;
}

li {
  font-size: 20px;
  color:#368;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
img {
  border: 0;
}
table {
  border-width: 0;
  empty-cells: show;
}
td, th {
  empty-cells: show;
  padding: .3ex .3ex;
  vertical-align: top;
  text-align: left;
  border-width: 0;
  border-spacing: 0;
  background-color: #336648;
}

th {
  font-weight: 700 ;
  background-color: #e2e2e2;
}

#Logo {
  width: 33%;
  height: 9ex;
  border-width: 0ex 0ex .2ex 0px;
  border-style: solid;
  border-color: #368;
  float: left;
  background-color: #000;
  color: #fff;
  line-height: 9ex;
  voice-family: "\"}\"";
  voice-family: inherit;
}

#Menu {
  width: 33%;
  height: 9ex;
  border-width: 0ex 0ex .2ex 0px;
  border-style: solid;
  border-color: #368;
  float: left;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-family: helvetica, tahoma, arial, verdana, sans-serif;
  text-align: center;
  line-height: 9ex;
  voice-family: "\"}\"";
  voice-family: inherit;
}

#Menu, #Menu a, #Menu a:link, #Menu a:visited, #Menu a:hover {
  color: #368;
  text-decoration: none;
  font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

#Search {
  width: 30%;
  height: 9ex;
  border-width: 0ex 0ex .2ex 0px;
  border-style: solid;
  border-color: #368;
  float: left;
  text-align: center;
  background-color: #000;
  color: #456;
  line-height: 9ex;
  voice-family: "\"}\"";
  voice-family: inherit;
}

#PoweredBy {
  width: 30%;
  height: 9ex;
  border-width: .2ex 0ex .2ex 0px;
  border-style: solid;
  border-color: #368;
  float: left;
  background-color: #000;
  color: #fff;
  line-height: 9ex;
  voice-family: "\"}\"";
  voice-family: inherit;
}

#Banner {
  width: 69%;
  height: 9ex;
  border-width: .2ex 0ex .2ex 0px;
  border-style: solid;
  border-color: #368;
  float: left;
  background-color: #000;
  color: #fff;
  line-height: 9ex;
  voice-family: "\"}\"";
  voice-family: inherit;
}

#Content {
  width: 99%;
  color: #368;
  background-color: #FFF;
  border-width: 0;
}

#Separator {
  clear:both;
  height:0;
}

#Main {
  padding: 1ex;
  color: #344;
  background-color: #FFF;
  border-width: 1ex 0ex 2ex 0px;
  border-style: solid;
  border-color: #fff;
}

#Sidebar {
  float: left;
  background:inherit;
  width: 30%;
}

#MainImage {
  float: left;
  background:inherit;
  text-align:center;
  width: 50%;
}

#Catalog {
  padding: 1ex;
  background:inherit;
  text-align:center;
}

#Catalog input[type="submit"]{
  padding: .3ex;
  color: #fff;
  background-color: #005e21;
  text-decoration: none;
  font-family: helvetica, tahoma, arial, verdana, sans-serif;
  font-size: 1.5ex;
  border-width:0;
}

#Catalog input[type="submit"]:hover {
  color: #000;
  background-color: #54c07a;
  cursor:pointer;
}

#Catalog table{
  margin-left:auto;
  margin-right:auto;
}

#BackLink{
  padding: 1ex;
  float: right;
  border-width: .1ex 0ex .1ex 0px;
  border-style: solid;
  border-color: #000;
}

#Cart{
  width: 69.99%;
  float: left;
  background-color:#fff;
}

#MyList{
  width: 30%;
  float: left;
  background-color:#ccc;
  text-align:left;
}